<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Adleida 人工审核物料</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='upload/control/images/logo.ico') }}" type="image/x-icon">

<link rel='stylesheet' href="{{ url_for('static', filename='verify/css/style.css') }}" media='screen'/>
<link rel='stylesheet' href="{{ url_for('static', filename='verify/css/buttons.css') }}" media='screen'/>
<link rel='stylesheet' href="{{ url_for('static', filename='verify/css/font-awesome.min.css') }}" media='screen'/>

<script type="text/javascript" src="{{ url_for('static', filename='verify/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='verify/js/jquery.lazyload.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='verify/js/blocksit.min.js') }}"></script> 
</head>


<body>
<div id="wrapper">
  <div id="container">
  {% for per in result %}
    <div class="grid">
      <div class="imgholder">
        <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ per.data.img }}" width="260"/>
        {% if per.approved %}
        <button id="{{ per.media_id }}" class="button button-3d button-action button-circle button-jumbo" onclick="verify($(this))" style="float:right" value="{{ per.approved }}"><i class="fa fa-thumbs-up"></i></button>
        {% else %}
        <button id="{{ per.media_id }}" class="button button-3d button-box button-circle button-jumbo" onclick="verify($(this))" style="float:right" value="{{ per.approved }}"><i class="fa fa-thumbs-up"></i></button>
        {% endif %}
      </div>
      <strong>{{ per.id }}</strong>
      <p>{{ per.data.text }}</p>
      <div class="meta"><a href="{{ per.data.img }}" target="_blank">点击查看原图</a></div>
      <div class="meta"><a href="{{ per.data.app_url }}" target="_blank">点击下载 app</a></div>
    </div>
  {% endfor %}
  </div>
</div>

<div id="new" style="display:none;">
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
</div>

<script type="text/javascript">
function verify(_element){
    var id_val = $(_element).attr('id');
    var value = $(_element).attr('value');
    $.ajax({
        type: 'POST',
        url: "{{ url_for('verify_click') }}",
        data: JSON.stringify({'id': id_val, 'value': value}),
        contentType: 'application/json;charset=UTF-8',
        async: true,
        success: function(result){
            /*  here I just make a justice and do toggleClass
                [ button button-3d button-action button-circle button-jumbo ]
                [ button button-3d button-box button-circle button-jumbo ] */
            if(value == 'True'){
                $(_element).attr('class', 'button button-3d button-box button-circle button-jumbo');
                $(_element).attr('value', 'False');
            }else{
                $(_element).attr('class', 'button button-3d button-action button-circle button-jumbo');
                $(_element).attr('value', 'True');
            }
            console.log(result);
        },
        error: function(error){
            console.log(error);
        }
    });
}

$(function(){
    $("img.lazy").lazyload({
        load:function(){
            $('#container').BlocksIt({
                numOfCol:3,
                offsetX: 8,
                offsetY: 8
            });
        }
    });
    $(window).scroll(function(){
        if ($(document).height() - $(this).scrollTop() - $(this).height() < 50){
            $.ajax({
                type: 'GET',
                url: "{{ url_for('verify_scroll') }}",
                async: false,
                success: function(result){
                    var items = result.result;
                    var divs = $('#new').children();
                    for(var index = 0; index < divs.length; index++){
                        // here I get every div from divs(children of [ id=new ])
                        var div = divs[index];
                        var item = items[index];
                        var btn = jQuery('button', div);
                        id_val = item['id'];
                        img_link = item['data']['img'];
                        jQuery('img', div).attr('data-original', img_link);
                        btn.attr('id', id_val);
                        btn.attr('onclick', 'verify($(this))');
                        if(item['approved']){
                            btn.attr('class', 'button button-3d button-action button-circle button-jumbo');
                        }else{
                            btn.attr('class', 'button button-3d button-box button-circle button-jumbo');
                        }
                        jQuery('strong', div).text(id_val);
                        jQuery('p', div).text(item['data']['text']);
                        jQuery('a', div).attr('href', img_link);
                    }
                    console.log(divs);
                },
                error: function(error){
                    console.log(error);
                }
            });

            $('#container').append($('#new').html());	
            $('#container').BlocksIt({
                numOfCol:3,
                offsetX: 8,
                offsetY: 8
            });
            $("img.lazy").lazyload();
        }
    });

    //window resize
    var currentWidth = 1100;
    $(window).resize(function() {
        var winWidth = $(window).width();
        var conWidth;
        if(winWidth < 660) {
            conWidth = 440;
            col = 2
        } else if(winWidth < 880) {
            conWidth = 660;
            col = 3
        } else if(winWidth < 1100) {
            conWidth = 880;
            col = 4;
        } else {
            conWidth = 1100;
            col = 5;
        }
        
        if(conWidth != currentWidth) {
            currentWidth = conWidth;
            $('#container').width(conWidth);
            $('#container').BlocksIt({
                numOfCol: col,
                offsetX: 8,
                offsetY: 8
            });
        }
    });
});
</script>

</body>
</html>
