<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Adleida 人工审核物料</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='control/images/logo.ico') }}" type="image/x-icon">

<link rel='stylesheet' href="{{ url_for('static', filename='verify/css/style.css') }}" media='screen'/>
<link rel='stylesheet' href="{{ url_for('static', filename='verify/css/buttons.css') }}" media='screen'/>
<link rel='stylesheet' href="{{ url_for('static', filename='verify/css/font-awesome.min.css') }}" media='screen'/>

<script type="text/javascript" src="{{ url_for('static', filename='verify/js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='verify/js/jquery.lazyload.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='verify/js/blocksit.min.js') }}"></script> 
</head>


<body>
<div id="wrapper">
  <div id="container">
  {% for per in result %}
    <div class="grid">
      <div class="imgholder">
        <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ per.data.img }}" width="260"/>
        {% if per.approved %}
        <button id="{{ per.media_id }}" class="button button-3d button-action button-circle button-jumbo" style="float:right" value="{{ per.approved }}"><i class="fa fa-thumbs-up"></i></button>
        {% else %}
        <button id="{{ per.media_id }}" class="button button-3d button-box button-circle button-jumbo" style="float:right" value="{{ per.approved }}"><i class="fa fa-thumbs-up"></i></button>
        {% endif %}
      </div>
      <strong>{{ per.id }}</strong>
      <p>{{ per.data.text }}</p>
      <div class="meta"><a href="{{ per.data.img }}" target="_blank">点击查看原图</a></div>
      <div class="meta"><a href="{{ per.data.app_url }}" target="_blank">点击下载 app</a></div>
    </div>
  {% endfor %}
  </div>
</div>

<div id="test" style="display:none;">
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
  <div class="grid">
    <div class="imgholder">
      <img class="lazy" src="{{ url_for('static', filename='verify/images/loading.gif') }}" data-original="{{ url_for('static', filename='verify/images/2.jpg') }}" width="260"/></div>
      <button class="button button-3d button-action button-circle button-jumbo" style="float:right" value="saber"><i class="fa fa-thumbs-up"></i></button>
    <strong>rider</strong>
    <p>foo bar</p>
    <div class="meta"><a href="http://www.htmleaf.com/" target="_blank">点击查看>>></a></div>
  </div>
</div>

<script type="text/javascript">
$(function(){
    $("img.lazy").lazyload({
        load:function(){
            $('#container').BlocksIt({
                numOfCol:3,
                offsetX: 8,
                offsetY: 8
            });
        }
    });
    $(window).scroll(function(){
        if ($(document).height() - $(this).scrollTop() - $(this).height()<50){
            $('#container').append($("#test").html());	
            $('#container').BlocksIt({
                numOfCol:3,
                offsetX: 8,
                offsetY: 8
            });
            $("img.lazy").lazyload();
        }
    });

    var commandButtons = document.querySelectorAll(".button");
    for(var i = 0; i < commandButtons.length; i++){
        var per_btn = commandButtons[i];
        per_btn.addEventListener("click", function(e, callback){
            e.preventDefault();
            var clickedButton = e.target;
            var command = clickedButton.value;
            // flask_util.url_for('verify_click', {media_id: command});
            var xhr = new XMLHttpRequest();
            // request.onload = function() {
            //     command = !Boolean(command);
            // };
            xhr.open("GET", "/v1/media/verify/" + command, true);
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4) {
                    callback(alert(xhr.responseText));
                }
            }
            xhr.send();
        });
    }
    
    //window resize
    var currentWidth = 1100;
    $(window).resize(function() {
        var winWidth = $(window).width();
        var conWidth;
        if(winWidth < 660) {
            conWidth = 440;
            col = 2
        } else if(winWidth < 880) {
            conWidth = 660;
            col = 3
        } else if(winWidth < 1100) {
            conWidth = 880;
            col = 4;
        } else {
            conWidth = 1100;
            col = 5;
        }
        
        if(conWidth != currentWidth) {
            currentWidth = conWidth;
            $('#container').width(conWidth);
            $('#container').BlocksIt({
                numOfCol: col,
                offsetX: 8,
                offsetY: 8
            });
        }
    });
});
</script>

</body>
</html>
